<template>
    <div>
        <p>Sub: {{ props.oidcUser.profile.sub }} Exp: {{ expire }}</p>
        <p>oidc-user:</p>
        <pre>{{ oidcJson }}</pre>
        <p>id-token:</p>
        <pre>{{ idTokenJson }}</pre>
        <p>access-token:</p>
        <pre>{{ accessTokenJson }}</pre>
        <p>refresh-token:</p>
        <pre>{{ refreshTokenJson }}</pre>
    </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { User } from 'oidc-client-ts';
import { jwt2String } from 'javier-sedano-ufe5-lib-login';

const props = defineProps<{ oidcUser: User }>();

const oidcJson = computed(() => JSON.stringify(props.oidcUser, null, 2));
const expire = computed(() => {
    if (props.oidcUser.expires_at) {
        const exp = new Date(0);
        exp.setUTCSeconds(props.oidcUser.expires_at);
        return `${exp.toLocaleString()}`;
    }
    return '?';
});
const idTokenJson = computed(() => jwt2String(props.oidcUser.id_token));
const accessTokenJson = computed(() => jwt2String(props.oidcUser.access_token));
const refreshTokenJson = computed(() => jwt2String(props.oidcUser.refresh_token));

</script>

<style scoped lang="scss">
pre {
    white-space: pre-wrap;
}
</style>
