<template>
  <div>
    <clv-menu/>
    <clv-text prefix="Account: ">This is the Account page in Nuxt3 / app-account</clv-text>
    <p @click="increment">Counter: {{ data?.counter }}</p>
    <div class="account">
      <div v-if="oidcUser !== null">
        <input type="button" value="Logout" @click="logout" />
      </div>
      <user-details v-if="oidcUser !== null" :oidc-user="oidcUser" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { navigateTo } from 'nuxt/app';
import { User } from 'oidc-client-ts';
import { OidcService, getSingletonOidcService } from 'javier-sedano-ufe5-lib-login';
import { ClvMenu, ClvText } from 'javier-sedano-ufe5-component-library-vue3';

const oidcUser = ref(null as User | null);

let oidcService: OidcService = getSingletonOidcService();

const { data } = await useAsyncData('res', async () => {
  const counter = Math.round(Math.random() * 10) + 1;
  return {
    counter,
  };
});

async function increment() {
  if (data?.value?.counter !== undefined) {
    data.value.counter++;
  }
}

onMounted(async () => {
  oidcService.addUserLoadedCallback((user: User) => {
    oidcUser.value = user;
  });
  oidcUser.value = await oidcService.getUser();
  if (oidcUser.value === null) {
    navigateTo('/', { external: true});
  }
});

async function logout() {
  try {
    await oidcService.logout();
  } catch (e) {
    console.warn(e);
  }
  oidcUser.value = await oidcService.getUser();
}

</script>

<style scoped>
.account {
  text-align: account;
}
.boxed {
  border: 1px solid black;
}

</style>
